---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import ImagenTexto from '../components/ImagenTexto.astro';
import Soluciones from '../components/Soluciones.astro';
import Blogs from '../components/Blogs.astro';
import Simulador from '../components/Simulador.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

import AOS from "../components/AOS.astro";
---
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salva Cada Gota</title>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C0V8139NQT"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-C0V8139NQT');
  </script>

</head>
<body>
  <Header />
  <Hero />
  <Problema />
  <ImagenTexto />
  <Soluciones />
  <Blogs />
  <Simulador />
  <Contacto />
  <Footer />
  <AOS />
</body>
</html>
