---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import ImagenTexto from '../components/ImagenTexto.astro';
import Soluciones from '../components/Soluciones.astro';
import Blogs from '../components/Blogs.astro';
import Simulador from '../components/Simulador.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Salva Cada Gota</title>
</head>
<body>
	<Header />
	<Hero />
	<Problema />
	<ImagenTexto />
	<Soluciones />
	<Blogs />
	<Simulador />
	<Contacto />
	<Footer />
</body>
</html>